{% extends "base.html" %}
{% load static i18n allauth account %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block content %}
<div class="container form-container">
    <h1 class="mb-4 text-center">Login</h1>
    
    <div class="card shadow">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col-12">
                        {{ form.login.label_tag }}
                        {{ form.login }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        {{ form.password.label_tag }}
                        {{ form.password }}
                    </div>
                </div>
                {% if form.remember %}
                    <div class="row mb-3">
                        <div class="col-12">
                            {{ form.remember }}
                            {{ form.remember.label_tag }}
                        </div>
                    </div>
                {% endif %}
                {{ redirect_field }}
                <div class="d-flex justify-content-between mt-4">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a href="{% url 'account_reset_password' %}" class="btn btn-link">Esqueceu sua senha?</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
