{% extends "base.html" %}
{% load static i18n allauth account %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block content %}
<div class="container form-container">
    <h1 class="mb-4 text-center">Sair</h1>
    
    <div class="card shadow">
        <div class="card-body">
            <p class="text-center mb-4">{% trans "Você tem certeza que deseja sair?" %}</p>
            
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {{ redirect_field }}
                
                <div class="d-flex justify-content-center mt-4">
                    <button type="submit" class="btn btn-danger">Sair</button>
                    <a href="{% url 'home' %}" class="btn btn-secondary ms-3">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
