{% extends "base.html" %}
{% load static i18n allauth account %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block content %}
<div class="container form-container">
    <h1 class="mb-4 text-center">{% trans "Alterar Senha" %}</h1>
    
    <div class="card shadow">
        <div class="card-body">
            <form method="post" action="{% url 'account_change_password' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ form.oldpassword.id_for_label }}" class="form-label">{{ form.oldpassword.label }}</label>
                    {{ form.oldpassword }}
                </div>
                <div class="mb-3">
                    <label for="{{ form.password1.id_for_label }}" class="form-label">{{ form.password1.label }}</label>
                    {{ form.password1 }}
                </div>
                <div class="mb-3">
                    <label for="{{ form.password2.id_for_label }}" class="form-label">{{ form.password2.label }}</label>
                    {{ form.password2 }}
                </div>
                
                <div class="d-flex justify-content-between mt-4">
                    <button type="submit" class="btn btn-primary">{% trans "Alterar Senha" %}</button>
                    <a href="{% url 'account_reset_password' %}" class="btn btn-link">{% trans "Esqueceu sua senha?" %}</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}