{% extends "account/base_manage.html" %}
{% load i18n allauth %}

{% block head_title %}
    {% trans "Verify Your Email Address" %}
{% endblock head_title %}

{% block content %}
<div class="container form-container">
    <h1 class="mb-4 text-center">{% trans "Verificar Endereço de Email" %}</h1>
    
    <div class="card shadow">
        <div class="card-body">
            <p>{% blocktrans %}Esta parte do site requer que verifiquemos que você é quem diz ser. Para isso, precisamos que você verifique a propriedade do seu endereço de email.{% endblocktrans %}</p>
            
            <p>{% blocktrans %}Enviamos um email para você para verificação. Clique no link dentro desse email. Caso não veja o email de verificação na sua caixa principal, verifique a pasta de spam. Caso contrário, entre em contato conosco se não receber o email dentro de alguns minutos.{% endblocktrans %}</p>
            
            <p>{% blocktrans %}<strong>Nota:</strong> você ainda pode <a href="{% url 'account_email' %}">{% trans "alterar seu endereço de email" %}</a>.{% endblocktrans %}</p>
        </div>
    </div>
</div>
{% endblock content %}