{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
    {% trans "Verify Your Email Address" %}
{% endblock head_title %}

{% block content %}
<div class="container form-container">
    <h1 class="mb-4 text-center">{% trans "Verificar Endereço de Email" %}</h1>
    
    <div class="card shadow">
        <div class="card-body">
            <p>{% blocktrans %}Enviamos um email para você para verificação. Siga o link fornecido para finalizar o processo de inscrição. Caso não veja o email de verificação na sua caixa principal, verifique a pasta de spam. Entre em contato conosco se não receber o email de verificação dentro de alguns minutos.{% endblocktrans %}</p>
        </div>
    </div>
</div>
{% endblock content %}