<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block">
            <a class="logo-font font-weight-bold nav-link d-lg-none text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" aria-haspopup="true" aria-expanded="false">
                ARN
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'mercado_de_telefonia_movel' %}" id="clothing-link" aria-haspopup="true" aria-expanded="false">
                Mercado de Telefonia Movel
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Indicadores do Mercado
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="indicadores-link">
                <a href="{% url 'estacoes_moveis' %}" class="dropdown-item">Número total de Estações Móveis</a>
                <a href="{% url 'emprego_setor' %}" class="dropdown-item">Emprego no Sector</a>
                <a href="{% url 'trafego_nacional' %}" class="dropdown-item">Tráfego Nacional</a>
                <a href="{% url 'quota_mercado' %}" class="dropdown-item">Quotas de mercado</a>
                <a href="{% url 'taxa_penetracao' %}" class="dropdown-item">Taxa de penetração</a>
                <a href="{% url 'volume_negocio' %}" class="dropdown-item">Volume de Negócios</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="">
                Contact us
            </a>
        </li>
    </ul>
</div>