<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block">
            <a class="logo-font font-weight-bold nav-link d-lg-none text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'mercado_de_telefonia_movel' %}" id="clothing-link" aria-haspopup="true" aria-expanded="false">
                Mercado de Telefonia Movel
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Indicadores do Mercado
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="indicadores-link">
                <a href="{% url 'estacoes_moveis' %}" class="dropdown-item">Estações Móveis</a>
                <a href="{% url 'emprego_setor' %}" class="dropdown-item">Emprego no Sector</a>
                <a href="{% url 'trafego_nacional' %}" class="dropdown-item">Tráfego Nacional</a>
                <a href="{% url 'quota_mercado' %}" class="dropdown-item">Quotas de mercado</a>
                <a href="{% url 'taxa_penetracao' %}" class="dropdown-item">Taxa de penetração</a>
                <a href="{% url 'volume_negocio' %}" class="dropdown-item">Volume de Negócios</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="dados-anuais-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dados Anuais
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="dados-anuais-link">
                <a href="{% url 'dados_anuais_list' %}" class="dropdown-item">Lista de Dados Anuais</a>
                <a href="{% url 'evolucao_indicadores' %}" class="dropdown-item">Evolução de Indicadores</a>
                <div class="dropdown-item">
                    <form action="{% url 'comparacao_operadoras' ano=2024 %}" method="get">
                        <select name="ano" onchange="this.form.submit()">
                            <option value="">Selecione o Ano</option>
                            {% for year in available_years %}
                                <option value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>
        </li>

    </ul>
</div>